.PostList{
    /* override bootstrap css properties  */
    --bs-gutter-x: 0 !important;
}

.PostList .row{
    /* override bootstrap css properties  */
    --bs-gutter-x: 0 !important;
}

.PostListPostPart {
    margin: auto;
    margin-bottom: 50px;

    --bs-gutter-x: 0 !important;
}