.Footer {
    background-color: rgb(140, 168, 158);
}

.FooterText {
    height: auto;
    text-align: center;
    color: black;
    text-transform: none;
    margin-top: 30px;
    padding: 25px 0 15px 0;
}

.FooterForm {
    padding-bottom: 50px;
}

.FooterForm .btn {
    border: 20px;
    border-color: black;
}